.header-bar {
    background-color: rgb(158, 215, 125);
    list-style-type: none;
    text-align: end;
    margin: 0;
    padding: 0;
  }
  
  .header-bar li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  
  }
  .header-bar a {
    color: black;
  }