.book-container li {
    display: inline-block;
    border-style: inset ;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    padding: 20px;
    margin:20px;
    margin-bottom: 10px;
    width: 300px;
    height: 600px;
    margin-top: 0px;
  }


  .book-container {
    background-color: rgb(207, 216, 195); 
    list-style-type: circle;
    text-align:center;
    margin: 0;
    padding: 0;
  }

  .order-container li {
    
    display: inline;
    border-style: inset ;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    padding: 20px;
    margin:20px;
    margin-bottom: 10px;
    
    height: 220px;
    margin-top: 0px;
    float: left;
  }

  .order-container{
    background-color: rgb(207, 216, 195); 
    list-style-type: circle;
    text-align: center;
    margin: 0;
    padding: 0;
  }





